<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="newClient">
  <h1>Clients List</h1>
  <form (ngSubmit)="onSubmit();" #ClientForm="ngForm" novalidate>
    <div class="row">
      <div class="col-md-6">
        <label>Firstname : </label>
        <input type="text" class="form-control" id="firstName"
               required [(ngModel)]="ClientModel.firstName" name="firstname" #firstName="ngModel"><br><br>
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
          Your firstname is required!
        </div>
        <br><br>
      </div>

      <div class="col-md-6">
        <label>Lastname : </label>
        <input type="text" class="form-control" id="lastName"
               required [(ngModel)]="ClientModel.lastName" name="lastname" #lastName="ngModel"><br><br>
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">
          Your lastname is required!
        </div>
        <br><br>
      </div>

      <div class="col-md-6">
        <label>Email : </label>
        <input type="email" class="form-control" id="email"
               required [(ngModel)]="ClientModel.email" name="email" #email="ngModel"><br><br>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Your email is required!
        </div>
        <br><br>
      </div>

      <div class="col-md-6">
        <label>Phone number : </label>
        <input type="tel" class="form-control" id="phoneNumber"
               required [(ngModel)]="ClientModel.phoneNumber" name="phone" #phoneNumber="ngModel"><br><br>
        <div [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert alert-danger">
          Your phone number is required!
        </div>
        <br><br>
      </div>

      <div class="col-md-6">
        <button type="submit" class="btn btn-default" [disabled]="ClientForm.form.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="display">
  <h3>All Clients : </h3>
  <div *ngFor="let client of AllClients">
    <p>Name : {{client.firstName}}  {{client.lastName}}</p>
    <p>Email : {{client.email}}</p>
    <p>Phone number : {{client.phoneNumber}}</p>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
